<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/0953c46818.js" crossorigin="anonymous"></script>
    <title>Tate Ray | Portfolio</title>
  </head>
  <body class="page" style="background-color:rgba(29, 157, 216, 0.726)">
    <!-- <header class="heading">
    </header> -->
    <div class="content">
      <div class="blurb" id="about">
        {{about}}
      </div>
      <div class="blurb" id="stack">
        <h5>What I've been working with lately...</h5>
        <ul class="listing" id="stack">
          <li class="listItem" id="tech" v-for="tech in techStack"> <i :class="tech.icon"></i> {{tech.tech}}</li>
        </ul>
      </div>
      <div class="blurb" id="socials">
          <h5>The Socials</h5>
          <div class="navbar">
            <a class="sociallink" v-for="social in socials" :href="social.link">{{social.name}}</a>
          </div>
      </div>
    </div>
    <div class="projects">
      <div v-for="project in projects" class="project" :key="project.index">
        <h4><u>{{project.projectName}}</u></h4>
        <div>
        </div>
        <p class="description">
          {{project.projectDescription}}
        </p>
        <div class="navbar">
          <a v-if="project.projectRepo" class="navlink" :href="project.projectRepo">GitHub</a>
          <a v-if="project.projeectDemo" class="navlink" :href="project.projectDemo">Demo</a>
          <a v-if="project.projectSite" class="navlink" :href="project.projectSite">Site</a>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      Vue.createApp({
        data(){
          return{
            // Need to rewrite this about. Be more verbose. This should be where I tell my story. Sell Myself. 
            about: "My name is Tate Ray, Full Stack Software Engineer and this is my portfolio. While I specialize in Ruby and the Rails framework I am experienced in a variety of Web Development technologies. My current project is GroWise, a Full Stack Rails application. It utilizes the Devise gem and ActionMailer. ",
            techStack: [ 
                        {
                          icon: "fab fa-html5",
                          tech: "HTML"
                        },
                        {
                          icon: "fab fa-css3",
                          tech: "CSS"
                        },
                        {
                          icon: "",
                          tech: "Rails"
                        },
                        {
                          icon: "fab fa-js",
                          tech: "JavaScript"
                        },
                        {
                          icon: "fab fa-vuejs",
                          tech: "Vue.js"
                        }
                        ],
            socials: [ 
              {
                name: "Twitter",
                link: "https://twitter.com/tjray_dev",
              },
              {
                name: "Reddit",
                link: "https://www.reddit.com/user/tjray_dev16"
              },
              {
                name: "LinkedIn",
                link: "https://www.linkedin.com/in/tateray/"
              }
                      ],
            projects: [
              {
                projectName: "City of Brass",
                projectThumbnail: "an image src",
                projectDescription: "A Fantasy game; fight monsters and collect treasure.",
                projectRepo: "https://github.com/tjray-dev/city-of-brass",
                projectDemo: "",
                projectSite: "https://city-of-brass.herokuapp.com/"
              },
              {
                projectName: "GroWise",
                projectThumbnail: "an image src",
                projectDescription: "A Grow Journal for hydroponic growers of all skills and stripes",
                projectRepo: "https://github.com/RogueStateTechnologies/hydro",
                projectDemo: "",
                projectSite: ""
              },
            ]
          }
        }
      })
      .mount('.page')
    </script>
  </body>
</html>