<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/0953c46818.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <title>Tate Ray | Portfolio</title>
  </head>
  <body class="page">
    <div class="content">
        <h1 class="head" id="name" >{{about.name}}</h1>
        <h2 class="head" id="jobTitle" >{{about.jobTitle}}</h2>
        <img class="about" id="image" src="assets/IMG-0252.jpg"></img>
      <div class="about" id="history">
        <h4>A bit about me...</h4>
        <span class="history" id="first"  >{{about.historyP1}}</span>
        <span class="history" id="second" >{{about.historyP2}}</span>
        <span class="history" id="third"  >{{about.historyP3}}</span>
        <span class="history" id="fourth" >{{about.historyP4}}</span>
      </div>
      <div class="about" id="social">
          <a class="link" :id="social.name" v-for="social in socials" :href="social.link">
            <span class="iconify" :data-icon="social.icon"></span>
            {{social.name}}
          </a>
      </div>
    </div>
    <div class="techBar">
      <li class="listItem" id="tech" v-for="tech in techStack">
        <span class="iconify" :data-icon="tech.icon"></span> {{tech.name}}
      </li>
    </div>
    <div class="projects">
      <div v-for="project in projects" class="project" :key="project.index">
        <h4><u>{{project.projectName}}</u></h4>
        <div>
        </div>
        <p class="description">
          {{project.projectDescription}}
        </p>
        <div class="navbar">
          <a v-if="project.projectRepo" class="navlink" :href="project.projectRepo">GitHub</a>
          <a v-if="project.projectDemo" class="navlink" :href="project.projectDemo">Demo</a>
          <a v-if="project.projectSite" class="navlink" :href="project.projectSite">Site</a>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      Vue.createApp({
        data(){
          return{ 
            about: {
              name: "Tate Ray",
              jobTitle: "Software Engineer",
              historyP1: "My professional life began with a career in food service. I was drawn to the industry because I admired the craftsmanship and dedication it took to create great food. After five years in the kitchen, I began to consider a career change…then the Covid-19 pandemic hit.",
              historyP2: "With the free time it imposed, I began learning how to code and  eventually enrolled in Flatiron School’s Software Engineering Course. Coding had been in the background for much of my life; something I grew up around but never fully appreciated. However, when I began teaching myself how to code, I quickly found I enjoyed the challenge of it. In coding, I discovered a craft that required the same level of dedication to master as cooking did, while also allowing me to build lasting products that can make a real difference in people's lives.",
              historyP3: "Recently, I have been working on a hydroponic grow journal app. It's a Monolith Rails App implementing the Devise gem for user Authentication and Authorization. It also utilizes ActionMail and sidekiq to perform automated email notifications for the app. The end goal of the app is to provide a lightweight cross-browser and cross-device application that allows hydroponics enthusiasts to track the health and yields of their plants.",
              historyP4: "To further refine my skills as a developer I’ve  been learning Vue.js, as well as reading The Pragmatic Programmer to learn better habits to make me a more efficient and well-rounded Software Engineer."
            },
            techStack: [ 
              {
                icon: "icomoon-free:html-five2",
                name: "HTML"
              },
              {
                icon: "bx:bxl-css3",
                name: "CSS"
              },
              {
                icon: "cib:rails",
                name: "Rails"
              },
              {
                icon: "akar-icons:javascript-fill",
                name: "JavaScript"
              },
              {
                icon: "akar-icons:vue-fill",
                name: "Vue.js"
              },
              {
                icon: "fa-brands:git",
                name: "Git"
              },
              {
                icon: "akar-icons:react-fill",
                name: "React"
              },
              {
                icon: "akar-icons:redux-fill",
                name: "Redux"
              },
              {
                icon: "cib:typescript",
                name: "TypeScript"
              },
              {
                icon: "bx:bxl-tailwind-css",
                name: "Tailwind"
              },
              {
                icon: "mdi:bulma",
                name: "Bulma"
              },
              {
                icon: "cib:postgresql",
                name: "PostgreSQL"
              },
              {
                icon: "file-icons:chartjs",
                name: "Chart.js"
              },
            ],
            socials: [ 
              {
                icon: "brandico:twitter",
                name: "twitter",
                link: "https://twitter.com/tjray_dev",
              },
              {
                icon: "cib:reddit-alt",
                name: "reddit",
                link: "https://www.reddit.com/user/tjray_dev16"
              },
              {
                icon: "akar-icons:linkedin-fill",
                name: "linkedIn",
                link: "https://www.linkedin.com/in/tateray/"
              },
              {
                icon: "brandico:github",
                name: "gitHub",
                link: "https://github.com/tjray-dev"
              },
            ],
            projects: [
              {
                projectName: "City of Brass",
                projectThumbnail: "an image src",
                projectDescription: "A Fantasy game; fight monsters and collect treasure.",
                projectRepo: "https://github.com/tjray-dev/city-of-brass",
                projectDemo: "",
                projectSite: "https://city-of-brass.herokuapp.com/"
              },
              {
                projectName: "GroWise",
                projectThumbnail: "an image src",
                projectDescription: "A Grow Journal for hydroponic growers of all skills and stripes",
                projectRepo: "https://github.com/RogueStateTechnologies/hydro",
                projectDemo: "",
                projectSite: ""
              },
              {
                projectName: "Music TO You",
                projectThumbnail: "",
                projectDescription: "A music playlist App",
                projectRepo: "https://github.com/tjray-dev/musicTOyou",
                projectDemo: "",
                projectSite: ""
              },
            ]
          }
        }
      })
      .mount('.page')
    </script>
  </body>
</html>