/* navigation styles */
.heading{
  font-family: monospace;
  height: 30px;
  padding: 6px;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.content{
  position: relative;
  height: 600px;
  border-bottom: 1px solid black;
  background-color: rgb(30, 96, 145);
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}
.blurb#about{
  position: absolute;
  top: 30%;
  left: 25%;
  width: 45%;
  font-family: Optima, sans-serif;
  margin: 10px;
  text-align: center;
  color: rgb(82, 182, 154);
  /* text-shadow: rgb(82, 182, 154) 3px 3px; */
  font-size: large;
}
.blurb#socials{
  position: absolute;
  bottom: 3px;
  right: 50px;
  font-family: Optima, sans-serif;
  color: rgb(82, 182, 154);
}
.socials{
  margin: 3px;
  color: rgb(82, 182, 154);

}
.listItem#tech{
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.projects{
  display: flex;
  margin-top: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgba(118, 200, 147);
  overflow: auto;
  justify-content: space-around;
}
.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin: 7px;
  padding: 6px;
  /* height: 275px; */
  width: 275px;
  border: 1px solid black;
  background-color: #fff;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.479);

}
.navbar{
  display: flex;
  justify-content: space-around;
}
.navlink{
  margin-left: 10px;
  margin-right:10px;
  text-decoration: none;
}
.sociallink{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color:  rgb(181, 228, 140);
}
/* content styles */
.about{
  margin: auto;
  margin-top: 25px;
  padding: 10px;
  padding-top: 250px;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  align-items: center;
}
.projects{
  font-family: Optima, sans-serif;
}
.thumbnail{
  height: 250px;
  width: 250px;
  border: 1px dashed black;
}
.description{
  text-align: center;
}
.techBar{
  display: flex;
  justify-content: space-around;
  font-family: Optima, sans-serif;
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.pages{
  display: flex;
  justify-content: space-around;
}